@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1a1a1a;
  color: white;
}

body {
  max-width: 640px;
  margin: 0 auto;
  padding: 60px 10px;
}

li:first-of-type {
  margin-block: 0;
  margin-bottom: 2px;
}

li {
  margin-block: 2px;
}
li:last-of-type {
  margin-block: 0;
  margin-top: 2px;
}
